/*
@font-face {
    font-family: Quicksand;
    font-style: normal;
    font-display: swap;
    src: url(/app/fonts/Quicksand-Medium.woff);
    src: url(/app/fonts/Quicksand-Medium.woff2);
    
  }

  @font-face {
    font-family: Quicksand;
    font-style: normal;
    font-display: swap;
    src: url(/app/fonts/Quicksand-Regular.woff);
    src: url(/app/fonts/Quicksand-Regular.woff2);
    
  }
  */

  @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Rubik:wght@300;400;500;600&display=swap');
  